// 主题色
$ui-color-black: #000;
$color-grey: #969799;
$color-red: #ee0a24;
$color-black: #000;
$color-theme: #155bd4;

$font-mini: 12px;
$font-middle: 14px;
$font-large: 16px;

$h5-color-theme: #c7655a;
$h5-color-bg: #f8f8f8;

.grey {
    color: $color-grey;
}
